<mat-card>
  <mat-card-content class='box4' fxFlex='30%'>

    <h2>Envíos</h2>

    <ul>
      <li>Nacional - 15€/Kg</li>
      <li>Europa - 30 €/Kg</li>
      <li>Global - Consultar condiciones</li>
    </ul>
  </mat-card-content>

  <mat-card-content class='box4' fxFlex='30%'>

    <h2>Mundo</h2>

    <ul>
      <li>Paquete estandar 7 días | Resto Europa/Asia</li>
      <li>Especial Sudamérica 7 días</li>
      <li>Paq Global 7-21 días | Consultar condiciones</li>
    </ul>
  </mat-card-content>

  <mat-card-content class='box4' fxFlex='30%'>

    <h2>Mundo</h2>

    <ul>
      <li>Paquete estandar 7 días | Resto Europa/Asia</li>
      <li>Especial Sudamérica 7 días</li>
      <li>Paq Global 7-21 días | Consultar condiciones</li>
    </ul>
  </mat-card-content>
</mat-card>