<mat-card>
  <mat-card-content class='box4' fxFlex='30%'>

    <h2>Envíos</h2>

    <ul>
      <li>Nacional - 15€/Kg</li>
      <li>Europa - 30 €/Kg</li>
      <li>Global - Consultar condiciones</li>
    </ul>
  </mat-card-content>

  <mat-card-content class='box4' fxFlex='30%'>

    <h2>Mundo</h2>

    <ul>
      <li>Paquete estandar 7 días |30€/Kg</li>
      <li>Especial Sudamérica 7 días| 25 €/Kg</li>
      <li>Paq Global 7-21 días | Consultar condiciones</li>
    </ul>
  </mat-card-content>

  <mat-card-content class='box4' fxFlex='30%'>

    <h2>Otros servicios</h2>

    <ul>
      <li>Recogida Nacional | +3 €</li>
      <li>Contrarrembolso Nacional |+1 €</li>
      <li>Logística inversa| +2 €</li>
    </ul>
  </mat-card-content>
</mat-card>