html  {
    background: #d046e2;
    font-family: arial;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}


main h1 {
    color:white;
    text-align: center;
}

body main article {
    background: grey;

}