<mat-card>
  <mat-card-content class='box1' fxFlex='25%'>

    <h2>
      <mat-icon>directions_car</mat-icon> Nacional | < 100 Km</h2> <ul>
        <li>Entrega 2 horas </li>
        <li>Entrega < 14H</li> <li>Entrega < 20H</li> </ul> </mat-card-content> <mat-card-content class='box2'
              fxFlex='25%'>
              <h2>
                <mat-icon>directions_train</mat-icon> Nacional | < 100 Km</h2> <ul>
        <li>Entrega 24H</li>
        <li>Día siguiente < 10H </li> <li>Día siguiente < 14H </li> <li>Día siguiente < 20H </li> </ul>
                </mat-card-content> <mat-card-content class='box3' fxFlex='25%'>
                <h2>
                  <mat-icon>flight</mat-icon>Europa
                </h2>
                <ul>
                  <li>Entrega 48H | <= 1000 Km</li> <li>Paquete estándar 72H | <= 5000 Km</li> <li>Paquete basic 4 días
                        | Resto</li>
                </ul>
  </mat-card-content>
  <mat-card-content class='box4' fxFlex='25%'>

    <h2>
      <mat-icon>directions_boat</mat-icon> Mundo
    </h2>

    <ul>
      <li>Paquete estandar 7 días | Resto Europa/Asia</li>
      <li>Especial Sudamérica 7 días</li>
      <li>Paq Global 7-21 días | Consultar condiciones</li>
    </ul>
  </mat-card-content>
</mat-card>