@import 'normalize.css';

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main.container {

}

article.superior {
    display:flex;
    flex-direction: row-reverse;
}

article.superior > * {
    width: 50px;
}

footer.inferior {
    background: lightgray;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

footer.inferior {
    padding: 0 2rem;
}