body {
  background: lightgray;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body section {
  background: white;
  width: 70%;
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

body section h1 {
  margin: 0;
  padding: 1rem 0 0.5rem;
  font-size: 2rem;
}

body section p {
  line-height: 1.6;
}

body section figure {
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

body section figure img {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}
