<section fxLayout="column wrap">
  <div class="header">
    <div class="tit" fxFlexAlign="center">
      <p>Bienvenidos a Pablo Logistics</p>
    </div>
    <div class="stit" fxFlexAlign="center">
      <p>Lo tenemos, lo enviamos</p>
    </div>
  </div>


  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="SECCION 1">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
        perferendis vero cum minima sunt recusandae. Aliquid ratione fugit
        officia, laboriosam optio fuga esse consequatur molestiae illum. Quis
        possimus exercitationem minus.
      </p>
    </mat-tab>
    <mat-tab label="TRACKING">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse beatae
        dolorem labore tempora perferendis quia, molestias perspiciatis quo
        impedit ad aspernatur et culpa magnam cupiditate omnis natus fugiat in
        dolores?
      </p>
    </mat-tab>
    <mat-tab label="SECCION 2">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam illum
        molestiae, odio neque unde exercitationem. Voluptas placeat earum,
        dolorem repellendus architecto impedit, libero quidem esse molestiae
        reprehenderit aut nemo eligendi.
      </p>
    </mat-tab>
  </mat-tab-group>
</section>