@import 'normalize.css';
@import 'generic.css';

.cards article {
  border: 1px solid lightgray;
}

.cards article:first-child {
  margin-bottom: 1rem;
}

.cards article header h1,
.cards article p {
  margin: 0;
  padding: 0.5rem;
}

.about > div {
  display: flex;
  align-items: flex-start;
}

.about > div img {
  width: 30%;
}

.about > div p {
  margin: 0 0 0 1rem;
}

@media (min-width: 800px) {
  .cards {
    display: flex;
  }

  .cards article:first-child {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
