<section fxLayout="column wrap">
  <div class="header">
    <div class="tit" fxFlexAlign="center">
      <p>Pablo Logistics</p>
    </div>
    <div class="stit" fxFlexAlign="center">
      <p>Lo tenemos, lo enviamos</p>
    </div>
  </div>
</section>
<!-- Navegacion privada-->
<app-prv-nav></app-prv-nav>
<!-- Parte unica-->

<mat-card>
  <mat-toolbar>
    <mat-icon>perm_identity</mat-icon>
    <span>Bienvenido a Pablo Logistics</span>
  </mat-toolbar>
  <mat-card-content>
    <p>
      Seleccione una opcion del menú superior </p>
    <a href="/logout"> <button mat-raised-button color="primary">Cerrar sesión</button>
    </a>

  </mat-card-content>
</mat-card>