<div>
  <mat-toolbar color="">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menú de usuario</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!--Seccion visible en grande -->
        <a href="/track" mat-button>Seguimiento de envios </a>
        <a href="/new" mat-button>Nuevo envío</a>
        <a href="/logout" mat-button>Cerrar sesión</a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Cerrar menú</a>
        <a href="/track" mat-list-item>Seguimiento de envios </a>
        <a href="/new" mat-list-item>Nuevo envío</a>
        <a href="/logout" mat-list-item>Cerrar sesión </a>
      </mat-nav-list>
    </mat-sidenav>
  </div>