@font-face {
    font-family: 'Get Show';
    src: url(/fonts/get-show.ttf)
}

html {
    font-size: 150%;
    font-family: 'Get Show';
}
body header {
    background: lightseagreen;
    width: 80%;
    font-size: 40px;
}

body header p {
    background: lightcoral;
    width: 70vw;
    height: 50vh;
}

header li {
    font-size: 2rem;
}