h1 {
    color: yellow;
    background: rebeccapurple;
}

p.parrafo {
    background: lightgray;
    
}

#interior {
    background: green;
}

.verde {
    text-decoration: underline;
}

blockquote[lang] {
    background: blue;
}

[data-hackabos] {
    text-decoration: underline;
}

[data-hackabos="3"] {
    color: red;
}

[data-etiquetas~="css"] {
 font-size: 2rem;
}

li[data-nome^="Ber"] {
    color: green;
    font-weight: bold;
}

li[data-nome$="to"] {
    color: blue;
    font-size: 1.5rem;
}

li[data-nome*="er"] {
    text-decoration: underline;
}



a[href^="https"]  {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

