<section fxLayout="column wrap">
  <div class="header">
    <div class="tit" fxFlexAlign="center">
      <p>Pablo Logistics</p>
    </div>
    <div class="stit" fxFlexAlign="center">
      <p>Lo tenemos, lo enviamos</p>
    </div>
  </div>
</section>
<mat-card-header>
  <span>Cierre de sesión</span>
</mat-card-header>
<mat-card-subtitle>
  <p>Está seguro?</p>
</mat-card-subtitle>
<mat-card-actions>
  <button mat-raised-button (click)="logout()" color="primary">Seguro, cerrar sesión</button>
</mat-card-actions>