<div class="friend" [ngClass]="getSearchStatus()">
  <sn-avatar [user]="friend" width="80px" height="80px"></sn-avatar>
  <div class="friend-details">
    <h5>{{ friend?.fullName }}</h5>
    <div class="friend-toolbar">
      <a *ngIf="getSearchStatus() === 'pending'"
        ><fa-icon [icon]="iconAccept"></fa-icon> Accept request</a
      >
      <a *ngIf="getSearchStatus() === 'not-friend'"
        ><fa-icon [icon]="iconAdd"></fa-icon> Add to my friends</a
      >
      <a *ngIf="getSearchStatus() === 'is-friend'"
        ><fa-icon [icon]="iconRemove"></fa-icon> Remove from my friends</a
      >
    </div>
  </div>
</div>
