@import "normalize.css";

html {
    font-family: arial;
}

.cabecera {
    display: flex;
    background: grey; 
    flex-direction: column;
    text-align: center;    
    padding-bottom: 2rem;
}

.cabecera h1 {
    letter-spacing: 0.1px;
    color:white;
}


.cabecera ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    margin: 0px;
    padding:0px;
}

.cabecera ul li {
    align-content: space-around;
    margin: auto;
    
}

.cabecera ul li a{
    text-decoration: none;
    background: #0099ff;
    border: 9px solid #0099ff;
    color:white;
}

.contenido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
    align-content: center;
    margin: auto;
}

.contenido h1 {
    text-align: center;
}

.contenido section {
    border: 1px solid black;
    margin-top:7px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contenido section:last-child {
    display: block;
    border: none;
    background-image: url(/media/3.JPG);
    background-repeat: no-repeat;
    padding-left: 10rem;
    margin-top: 2rem;
}

.contenido section h2 {
    margin: 1rem;
}

.contenido section p {
    margin: 1rem;

}

.contenido img {
    display: flex;
    text-align:center;
    width: 100%;
    max-width: 100%;

}

footer {
    background: lightgray;
    display: flex;
    justify-content: flex-end;
}

footer .t1 {
    flex-direction: column;
    text-align: left;
    margin-left:1rem;
    
}

footer .t1 h1 {
    font-size: 19px;
}

footer .t1 p {
    max-width: 185px;
    font-size: 15px;
}


footer .t2 ul li a {
    text-decoration: none;
    color: lightseagreen;
}

@media (min-width: 800px) {
    body > div.container > .cabecera {
      display: flex;

    }
}