<section fxLayout="column wrap">
  <div class="header">
    <div class="tit" fxFlexAlign="center">
      <p>Pablo Logistics</p>
    </div>
    <div class="stit" fxFlexAlign="center">
      <p>Lo tenemos, lo enviamos</p>
    </div>
  </div>
</section>
<mat-toolbar>
  <span>Alta de usuario</span>
</mat-toolbar>
<mat-card class="registercard">
  <mat-card-content>
    <form class="register_form" [formGroup]="registerForm">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Usuario" name="username" formControlName="user" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="E-Mail" name="email" formControlName="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Contraseña" type="password" name="password" formControlName="password"
                required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Confirmar contraseña" type="password" name="confirmpassword"
                formControlName="confirmPassword" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Registro</button>
  </mat-card-actions>
  <mat-card-footer>Pablo Logistics SSO - V 1.3</mat-card-footer>
</mat-card>